@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100vh;
    background-color: darkgray;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{
    padding-top: 50px;
    font-variant: small-caps;
}

header > p{
    padding-bottom: 50px;
}

header > p > a{
    text-decoration: none;
    font-weight: bolder;
    color: white;
}

header > p > a:hover{
    text-decoration: underline;
    color: blue;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: rgb(85, 83, 83);
    color: white;
}

section.imagem > p{
    background-color: rgba(0, 0, 0, 0.247);
    width: 400px;
}










footer{
    text-align: center;
    background-color: aquamarine;
    border-radius: 10px;
    font-size: 1em;
}

footer > p > a{
    color: black;
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
    color: rgba(16, 16, 221, 0.678);
    font-weight: bolder;
}