@charset "UTF-8";

/* tudo que em HTML for id = , em CSS vai ser o # */

body{
    background-color: rgb(205, 255, 203);
    font-family: Arial, Helvetica, sans-serif;
}

h1#principal{
    text-align: center;
    color: white;
    background-color: rgb(4, 109, 0);
}

h1{
    color: rgb(4, 109, 0) ;
}

h2{
    color: rgb(73, 109, 71);
}

.basico{
    color: rgb(153, 153, 61);
}

.intermediario{
    color: rgb(61, 153, 84);
}

.avançado{
    color: rgb(153, 67, 61);
}